  
  
  .title {
    color: var(--colortext);
    font-family: var(--font-family-sf_pro_text-semibold);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 46px;
    margin-top: -1px;
    position: relative;
    text-align: left;
    width: fit-content;
  }
  
  .description {
    align-self: stretch;
    color: var(--colortext);
    font-family: var(--font-family-sf_pro_text-regular);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    margin-top: -1px;
    position: relative;
    text-align: left;
  }
  
