.profilecard.ant-modal .ant-modal-content {
    padding: 0;
}

.profilecard .ant-card {
    border-radius: 15px;
}

 .ant-card .profile-field .ant-card-body{
    padding: 10px 0px;
}

.ant-card .profile-field .ant-card-body .text{
    padding: 0px 10px;
}

.divider{
    margin: 10px 0px;
}